keycloak:
  serviceMonitor:
    enabled: true
  ingress:
    enabled: true
    annotations:
      nginx.ingress.kubernetes.io/use-regex: "true"
    ingressClassName: "nginx"
    servicePort: http
    rules:
      - host: keycloak
        paths:
          - path: /*
            pathType: Prefix