grafana:
  adminPassword: strongpassword
  ingress:
    annotations:
      nginx.ingress.kubernetes.io/auth-url: "https://auth.k8s.local/oauth2/auth"
      nginx.ingress.kubernetes.io/auth-signin: "https://auth.k8s.local/oauth2/start?rd=$escaped_request_uri"
      nginx.ingress.kubernetes.io/auth-response-headers: "x-auth-request-user, x-auth-request-email"
    ingressClassName: nginx
    enabled: true
    path: /
    pathType: Prefix
    hosts:
      - grafana.k8s.local