oauth2-proxy:
  ingress:
    annotations:
      nginx.ingress.kubernetes.io/proxy-buffer-size: "16k"
    enabled: true
    className: nginx
    path: /oauth2
    pathType: Prefix
    hosts:
      - grafana.k8s.local
  config:
    clientID: "grafana"
    clientSecret: "Mclfc76LlglQCtiZJJO1XBhp0Njp47G7"
    cookieSecret: "elo0WHlFY0VpZDE0OW5jR3d5djB6a2N1Q3g3T0pIN04="
    configFile: |-
      provider = "oidc"
      provider_display_name = "Keycloak"
      oidc_issuer_url = "keycloak.k8s.local"
      email_domains = [ "*" ]
      scope = "openid profile email"
      cookie_domain = "grafana.k8s.local"
      whitelist_domains = "grafana.k8s.local"
      pass_authorization_header = true
      pass_access_token = true
      pass_user_headers = true
      set_authorization_header = true
      set_xauthrequest = true
      cookie_refresh = "1m"
      cookie_expire = "30m"
  metrics:
    servicemonitor:
      enabled: true