oauth2-proxy:
  ingress:
    annotations:
      nginx.ingress.kubernetes.io/proxy-buffer-size: "16k"
      nginx.ingress.kubernetes.io/use-regex: "true"
    enabled: true
    className: nginx
    path: /oauth2/*
    pathType: Prefix
    hosts:
      - grafana
  extraArgs:
    provider: oidc
    set-xauthrequest: true
    provider-display-name: Dors auth
    login-url: "http://keycloak-http/auth/realms/grafana/protocol/openid-connect/auth"
    redeem-url: "http://keycloak-http/auth/realms/grafana/protocol/openid-connect/token"
    validate-url: "http://keycloak-http/auth/realms/grafana/protocol/openid-connect/userinfo"
  config:
    clientID: "grafana"
    clientSecret: "etYE19topdAOJUedOgUAIGCTbnPMNbiS"
    cookieSecret: "elo0WHlFY0VpZDE0OW5jR3d5djB6a2N1Q3g3T0pIN04="
    configFile: |-
      email_domains = [ "*" ]
      scope = "openid profile email"
  metrics:
    servicemonitor:
      enabled: true