oauth2-proxy:
  extraArgs:
    provider: keycloak
    login-url: "http://keycloak.k8s.local/realms/grafana/protocol/openid-connect/auth"
    redeem-url: "http://keycloak.k8s.local/realms/grafana/protocol/openid-connect/token"
    validate-url: "http://keycloak.k8s.local/realms/grafana/protocol/openid-connect/userinfo"
    keycloak-group: "/grafana"
  config:
    clientID: "grafana"
    clientSecret: "NTTOEiDdLbEiGN5JpdvpQzQadwlZn1eX"
  metrics:
    servicemonitor:
      enabled: true