oauth2-proxy:
  ingress:
    annotations:
      nginx.ingress.kubernetes.io/use-regex: "true"
      nginx.ingress.kubernetes.io/rewrite-target: $1
    enabled: true
    className: nginx
    path: /oauth2/(.*)
    pathType: Prefix
    hosts:
      - grafana.k8s.local
  extraArgs:
    provider: keycloak
    login-url: "http://keycloak.k8s.local/auth/realms/grafana/protocol/openid-connect/auth"
    redeem-url: "http://keycloak.k8s.local/auth/realms/grafana/protocol/openid-connect/token"
    validate-url: "http://keycloak.k8s.local/auth/realms/grafana/protocol/openid-connect/userinfo"
    keycloak-group: "/grafana"
  config:
    clientID: "grafana"
    clientSecret: "NTTOEiDdLbEiGN5JpdvpQzQadwlZn1eX"
  metrics:
    servicemonitor:
      enabled: true