# your override should supply an envName
envName: null

# if set, override all Applications to use this project
projectOverride: null

default:
  argo:
    destination:
      namespace: argo-cd
  project:
    roles: |
      - name: read-only
        description: Read-only privileges within project
        policies:
        - p, proj:{{ $.curProjName }}:read-only, applications, get, {{ $.curProjName }}/*, allow
      - name: ci-role
        description: Role to allow CICD pipeline to sync apps within project
        policies:
        - p, proj:{{ $.curProjName }}:ci-role, applications, sync, {{ $.curProjName }}/*, allow
    destinations: |
      - namespace: {{ $.Values.default.app.destination.namespace | required "Missing proj dest namespace"}}
        server: {{ $.Values.default.app.destination.server | required "Missing proj dest server" }}
  app:
    enableAutoSync: true
    autoSyncPrune: true
    destination:
      namespace: null
      server: null
    project: null
    source:
      path: null
      repoURL: https://github.com/dorroddorrod/demo.git
      targetRevision: HEAD


projects:
  infra:
    description: 'infrastructure project'
    extraFields: |
      clusterResourceWhitelist:
        - group: '*'
          kind: '*'
    sourceRepos:
    - https://github.com/dorroddorrod/demo.git

applications:
  argocd:
    enabled: false
    destination:
      namespace: argo-cd
      server: null
    project: infra
    source:
      path: applications/argo-cd
      repoURL: https://github.com/dorroddorrod/demo.git
      extraSourceFields: |
        helm:
          valueFiles:
          - values.yaml
          - {{ $.Values.envName }}/values.yaml
