kube-prometheus-stack:
  alertmanager:
    enabled: true
  grafana:
    enabled: false
  prometheus:
    prometheusSpec:
      remoteWrite: 
      - url: http://mimir-distributor:8080/api/v1/push
        headers:
          X-Scope-OrgID: team1