fluent-bit:
  config:
    inputs: |
      [INPUT]
          Name tail
          Path /var/log/containers/*.log
          multiline.parser docker, cri
          Tag kube.*
          Mem_Buf_Limit 5MB
          Skip_Long_Lines On
  filters: |
    [FILTER]
        Name kubernetes
        Match kube.*
        Merge_Log On
        Keep_Log Off

    outputs: |
      [OUTPUT]
          Name loki
          Match kube.*
          Host loki
          Labels job=fluentbit
          Auto_kubernetes_labels on